[Unit]
Description=Watchdog for notifying about file system events

[Service]
Type=simple
ExecStart=/bin/sh /usr/local/bin/inotifywatchdog

[Install]
WantedBy=default.target
